@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Futura Medium';
  font-weight: 500;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Medium.woff);
  src: url(../css/fonts/FuturaPT-Medium.eot);
  src: url(../css/fonts/FuturaPT-Medium.ttf);
}

@font-face {
  font-family: 'Futura Bold';
  src: url(../css/fonts/FuturaPT-Bold.woff);
  src: url(../css/fonts/FuturaPT-Bold.eot);
  src: url(../css/fonts/FuturaPT-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Book.woff);
  src: url(../css/fonts/FuturaPT-Book.eot);
  src: url(../css/fonts/FuturaPT-Book.ttf);
}

@font-face {
  font-family: 'Futura PT Demi';
  font-weight: 600;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Demi.woff);
  src: url(../css/fonts/FuturaPT-Demi.eot);
  src: url(../css/fonts/FuturaPT-Demi.ttf);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  padding: 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Futura Bold';
  font-size: 144px;
  color: white;
  margin: 25px 0 0 40px;
}

.arrow {
  position: absolute;
  bottom: 64px;
  right: 44px;
  padding-left: 50px;
}

.navbar {
  position: absolute;
  top: 20px;
  right: 50px;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar__item {
  z-index: 100;
}

.navbar__item a {
  font-family: 'Futura Medium';
  font-weight: 500;
  font-size: 25px;
  color: #2b2b2b;
  padding: 10px;
  min-width: 150px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.navbar__item:hover a {
  color: #FF924F;
  background-color: rgba(211, 211, 211, 0.171);
  border-radius: 10px;
}

@media (max-width: 426px) {
  .navbar {
    display: none;
  }
  .title {
    font-size: 60px;
    margin: 15px 0 0 15px;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 52px;
  }
}

@-webkit-keyframes letter {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes letter {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-screen {
  position: relative;
  margin-left: 30px;
  min-height: 100vh;
}

.main-screen__logo {
  opacity: 0;
  margin-top: 65px;
  -webkit-animation: logo 1.5s ease-in-out .5s 1 forwards;
          animation: logo 1.5s ease-in-out .5s 1 forwards;
}

.main-screen__logo-1 {
  margin-right: 40px;
}

.main-screen__logo-2 {
  -webkit-animation: letter 1.5s ease-in-out 0.5s 1 forwards;
          animation: letter 1.5s ease-in-out 0.5s 1 forwards;
}

.main-screen__title {
  color: #2b2b2b;
  font-size: 50px;
  opacity: 0;
  font-family: 'Futura Bold';
  margin-top: 20px;
  -webkit-animation: logo 1.5s ease-in-out .7s 1 forwards;
          animation: logo 1.5s ease-in-out .7s 1 forwards;
}

.main-screen__heading {
  color: #838383;
  font-size: 48px;
  margin-top: 20px;
  font-family: 'Futura PT Book';
  -webkit-animation: heading 1.5s ease-in-out .9s 1 forwards;
          animation: heading 1.5s ease-in-out .9s 1 forwards;
  opacity: 0;
}

@media (max-width: 426px) {
  .main-screen__logo {
    margin-left: 40px;
  }
  .main-screen__heading,
  .main-screen__title {
    margin-left: 30px;
  }
  .main-screen__logo-1,
  .main-screen__logo-2 {
    max-width: 100px;
    margin-right: 20px;
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 69px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 69px;
  }
}

.about {
  position: relative;
  height: 100vh;
  background: #F76666;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__description {
  font-size: 32px;
  font-family: 'Futura PT Demi';
  color: #2B2B2B;
  line-height: 46px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  max-height: 550px;
  margin: 35px 20px 10px 120px;
  position: relative;
}

.about__description:before {
  content: url(/media/img/icons/hello.png);
  position: absolute;
  left: -70px;
  top: 20px;
}

.about__pic img {
  max-width: 400px;
  height: auto;
  margin-top: 0px;
}

@media (max-width: 430px) {
  .about__description {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 28px;
    line-height: 26px;
    max-width: 350px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__description::before {
    left: -10px;
    top: -115px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__pic {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about__pic img {
    max-width: 150px;
    margin-top: 5px;
    margin-left: 70px;
  }
}

@media (max-width: 376px) {
  .about__description {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 21px;
    line-height: 22px;
    max-width: 350px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__description::before {
    left: -10px;
    top: -115px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__pic {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about__pic img {
    max-width: 150px;
    margin-top: 5px;
    margin-left: 70px;
  }
}

.skills {
  position: relative;
  height: 100vh;
  background: #5AE496;
}

.skills__description {
  font-family: 'Futura Bold';
  font-weight: 700;
  font-size: 74px;
  line-height: 74px;
  text-transform: uppercase;
  margin: 75px 0 0 120px;
  position: relative;
}

.skills__description span {
  display: inline-block;
  width: 100%;
}

.skills__description::before {
  position: absolute;
  content: url(/media/img/icons/skills.png);
  left: -70px;
  top: -3px;
}

@media (max-width: 430px) {
  .skills__description {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 30px;
  }
  .skills__description span {
    font-size: 38px;
    line-height: 38px;
    display: block;
    margin-bottom: 25px;
  }
  .skills__description:before {
    left: -40px;
  }
}

@media (max-width: 376px) {
  .skills__description {
    margin-left: 30px;
    margin-top: 20px;
  }
  .skills__description span {
    display: block;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 34px;
  }
  .skills__description:before {
    left: -35px;
    top: 20px;
  }
}

.works {
  height: 100vh;
  position: relative;
  background: #25C1E8;
}

.works__menu {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 120px;
  position: relative;
}

.works__menu::before {
  position: absolute;
  content: url(/media/img/icons/works.png);
  left: -70px;
  top: 10px;
}

.works__menu-item-wrap {
  margin: 5px;
  display: block;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  position: relative;
}

.works__menu-item-title {
  color: white;
  position: absolute;
  bottom: 10px;
}

.works__menu-item-wrap:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works__menu-item-wrap:hover .works__menu-item {
  background: radial-gradient(circle, rgba(34, 34, 34, 0.5) 23%, rgba(34, 34, 34, 0.5) 59%);
}

.works__menu-item-wrap:hover .works__menu-item-description {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: white;
}

.works__menu-item-wrap:hover .works__menu-item-title {
  visibility: hidden;
  opacity: 0;
}

.works__menu-item {
  max-height: 200px;
  max-width: 250px;
  width: 100%;
  padding: 50px;
  height: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #2B2B2B;
  font-family: 'Futura Medium';
  font-size: 22px;
}

.works__menu-item-title {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.works__menu-item-description {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.works__menu-item-wrap:first-child {
  background: radial-gradient(circle, rgba(94, 94, 94, 0.5) 23%, rgba(94, 94, 94, 0.5) 59%), url(../../media/img/works-bg/1.png);
}

.works__menu-item-wrap:nth-child(2) {
  background: radial-gradient(circle, rgba(94, 94, 94, 0.5) 23%, rgba(94, 94, 94, 0.5) 59%), url(../../media/img/works-bg/2.png);
}

@media (max-width: 426px) {
  .works__menu {
    margin-left: 50px;
  }
  .works__menu:before {
    left: -50px;
  }
  .works__menu-item-wrap,
  .works__menu-item {
    max-width: 150px;
    max-height: 100px;
  }
  .works__menu-item {
    padding: 25px 0;
  }
}

@media (max-width: 376px) {
  .works__menu {
    margin-left: 60px;
    margin-top: 20px;
  }
  .works__menu:before {
    left: -50px;
  }
  .works__menu-item-wrap,
  .works__menu-item {
    max-width: 150px;
    max-height: 100px;
  }
  .works__menu-item {
    padding: 25px 0;
  }
}

.contact {
  height: 100vh;
  background: #C17CF2;
  position: relative;
  z-index: 100;
}

.contact__text {
  font-family: 'Futura PT Book';
  font-size: 74px;
  line-height: 95px;
  margin: 40px 0 0 120px;
  color: #F7F54E;
  position: relative;
}

.contact__text::before {
  position: absolute;
  content: url(/media/img/icons/contact.png);
  left: -55px;
  top: 5px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 280px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  z-index: 10;
}

.contact__telegram:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__instagram:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__linkedin:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__button {
  max-width: 430px;
  display: block;
  margin: 55px auto 80px auto;
  text-align: center;
  background-color: #F7F54E;
  max-height: 80px;
  border-radius: 100px;
  font-family: 'Futura PT Book';
  color: #010491;
  font-size: 36px;
  padding: 17px 0;
  z-index: 10;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contact__button:hover {
  background-color: #F66666;
}

@media (max-width: 426px) {
  .contact__text {
    margin-left: 50px;
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
  }
  .contact__text::before {
    left: -50px;
  }
  .contact__button {
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 270px;
    margin-left: 50px;
  }
  .contact__social {
    margin-left: 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) {
  .contact__text {
    margin-left: 50px;
    font-size: 50px;
    line-height: 50px;
    margin-top: 15px;
  }
  .contact__text::before {
    left: -50px;
  }
  .contact__button {
    margin-bottom: 30px;
  }
}

.menu {
  width: 50px;
  height: 50px;
  padding: 14px 3px 10px 9px;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 70px;
  border-radius: 50%;
  background: #FF924F;
  z-index: 1000;
}

.menu span {
  cursor: pointer;
  height: 2px;
  width: 33px;
  margin-bottom: 8px;
  background: #000;
  position: relative;
  right: 0;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.hidden {
  opacity: 0;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  pointer-events: none;
  cursor: default;
}

.visible {
  opacity: 1;
}

.menu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background: #fff;
}

.menu.open span:nth-child(2) {
  opacity: 0;
  right: 100px;
  background: #fff;
}

.menu.open span:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: #fff;
}

#navigation {
  background: #010491;
  font-family: 'Futura Bold';
  color: #fff;
  font-weight: 400;
  font-size: 144px;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideInLeft {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.slideOutLeft {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

ul.nav__list {
  list-style-type: none;
}

ul.nav__list li a {
  font-family: 'Futura Bold';
  color: #fff;
  display: block;
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
}

ul.nav__list li:hover a {
  color: #F7F54E;
}

@media (max-width: 426px) {
  .menu {
    top: 20px;
    right: 20px;
  }
  ul.nav__list li a {
    margin: 15px auto;
  }
  #navigation {
    font-size: 55px;
  }
}
/*# sourceMappingURL=style.css.map */