@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-family: 'Exo 2', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  height: 85px;
  background-color: white;
  padding: 25px 0;
}

.nav__logo {
  padding-top: 5px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 485px;
  width: 100%;
  font-size: 25px;
}

.nav__menu a {
  color: black;
  padding: 10px 20px;
}

.nav__menu-item:not(:last-child) {
  margin-right: 28px;
}

.nav__number {
  color: black;
  font-size: 25px;
  font-weight: 700;
  margin-left: 121px;
}

.main-screen {
  margin: 0 auto;
  background: url(../../media/img/main-screen-bg.png) 50% 5%;
  max-height: 930px;
  height: 100%;
}

.main-screen__text-small {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  max-width: 280px;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
  margin-top: 120px;
}

.main-screen__title {
  display: inline-block;
}

.main-screen__title h1 {
  background-color: white;
  font-size: 58px;
  padding: 0 20px;
  font-weight: 800;
  line-height: 110%;
  display: block;
}

.main-screen__title h1:first-child {
  max-width: 360px;
  border-radius: 30px 30px 0 0;
  padding: 20px 20px 0 20px;
}

.main-screen__title h1:nth-child(2) {
  border-radius: 0 30px 30px 0;
  padding: 20px 20px 20px 20px;
}

.main-screen__heading {
  font-size: 22px;
  background-color: #fff;
  font-weight: 400;
  color: #7B7B7B;
  max-width: 560px;
  padding: 10px 20px 30px 20px;
  line-height: 150%;
  border-radius: 0 0 30px 30px;
}

.main-screen__button {
  max-width: 380px;
  max-height: 105px;
  margin-top: 45px;
}

.button {
  font-weight: 500;
  font-size: 25px;
  color: white;
  display: block;
  background: #20BEF2;
  border-radius: 30px;
  line-height: 110%;
  padding: 23px 51px;
}
/*# sourceMappingURL=style.css.map */